<p>Employee Details</p>
 <mat-table class="employee-table mat-elevation-z3" [dataSource]="dataSource">
    <ng-container  matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.firstName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.lastName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="roleName">
        <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.roleName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="sectionName">
        <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.sectionName}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="emailId">
        <mat-header-cell *matHeaderCellDef>Email Id</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.emailId}}</mat-cell>
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table> 