.table-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 45px;

    div {
        display: inline-block;
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
        line-height: 45px;
    }

    .action-item-wraper{
        margin-left: 16px;
    }

    .action-icon {
        font-size: 18px;
        margin-right: 8px;
    }
}